:root {
  --macaron: 255, 246, 243;
  --blush: 234, 188, 172;
  --nude: 226, 176, 145;
  --chocolat: 135, 78, 76;
  --cafe-noir: 50, 72, 92;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: abhayalibre;
  src: url("./fonts/abhayalibre-regular-webfont.woff"), url("./fonts/abhayalibre-regular-webfont.woff2");
}

html {
  line-height: 1.5;
  font-size: 20;
  font-family: 'Sitka Text', Cambria, serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: fit-content;
  background-image: url("images/claudio-schwarz-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner {
  position: relative;
  display: flex;
  align-items: baseline;
  margin-top: 30%;
  padding: 0 20px 0 20px;
}

.logo-text {
  z-index: 1;
  font-family: abhayalibre;
  font-size: 9em;
  color: rgb(var(--macaron));
  text-shadow: rgb(var(--chocolat)) 0 0 10px;
}

.banner .header-background {
  position: absolute;
  left: 0;
  bottom: 0.3em;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--nude), 0.5);
}

.banner svg {
  filter: drop-shadow(0px 0px 3px rgb(var(--chocolat)));
  flex: 0 0 100;
}

.attribution,
.attribution a {
  color: rgb(var(--macaron));
  text-align: center;
  text-shadow: rgb(var(--cafe-noir)) 0 0 8px;
}

.right-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(var(--nude), 0.3);
}

.right-container>h2 {
  margin: 50px 0 50px 0;
  max-width: 60ch;
}

.right-container h2,
.right-container .form-row,
.right-container p {
  padding: 0 40px 0 80px;
  color: rgb(var(--cafe-noir));
  text-shadow: 2px 2px 2px rgba(var(--cafe-noir), 0.2);
}

.right-container a {
  text-decoration: none;
  color: rgb(var(--chocolat));
  font-style: italic;
}

.form-input-container {
  background-color: rgb(var(--macaron));
  color: rgb(var(--cafe-noir));
  padding: 20px 0 20px 0;
  box-shadow: 0px 3px 10px 5px rgba(var(--chocolat), 0.1);
}

.form-row {
  display: flex;
  gap: 100px;
}

.form-header {
  margin-bottom: 15px;
}

.form-row .form-input {
  display: flex;
  flex-direction: column;
}

.form-input input {
  appearance: none;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: inherit;
  height: 2em;
  max-width: 30ch;
  min-width: fit-content;
  border: 1px solid rgb(var(--nude));
  border-radius: 5px;
  background-color: rgb(var(--macaron));
}

.form-input label {
  font-size: 0.9em;
}

.form-input input:focus {
  outline: none;
  border: 1px solid #874E4C;
  box-shadow: 2px 2px 3px 0px #32485c2c;
  background-color: rgba(var(--blush), 0.1);
}

button {
  margin: 30px 0 15px 0;
  border: none;
  border-radius: 7px;
  background-color: rgb(var(--chocolat));
  color: rgb(var(--macaron));
  font-family: inherit;
  font-size: 1.3rem;
  height: 50px;
  width: 200px;
  box-shadow: 0px 3px 5px 5px rgba(var(--chocolat), 0.1);
}

button:hover {
  cursor: pointer;
  background-color: #7c4846;
}

button:active {
  background-color: #6b3e3c;
}

.form-header {
  position: relative;
}



/* .form-header::after {
  position: absolute;
  top: 5px;
  left: 640px;
  font-size: 16px;
  font-style: italic;
  color: #cf3b33;
  content: "All forms required.";
} */

@media only screen and (max-width: 1100px) {

  body {
    flex-direction: column;
  }

  .form-row {
    flex-direction: column;
    gap: 0;
    align-items: center;
  }

  .form-input input {
    width: 100vh;
  }

  .form-header {
    justify-self: center;
  }

  .right-container h2,
  .right-container .form-row,
  .right-container p {
    padding: 0 20px 0 20px;
  }

  .banner {
    padding: 0 3px 0 3px;
    margin-top: 33px;
    height: 100px;
    align-items: center;
    justify-content: center;
  }

  .banner svg {
    scale: 80%;
    align-self: baseline;
  }

  .logo-text {
    font-size: 6em;
  }

  .banner .header-background {
    background-color: rgba(var(--nude), 0.5);
  }
}