:root {
  --macaron: #F7DFD4;
  --blush: #EABCAC;
  --nude: #E2B091;
  --chocolat: #874E4C;
  --cafe-noir: #32485C;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: abhayalibre;
  src: url("./fonts/abhayalibre-regular-webfont.woff"), url("./fonts/abhayalibre-regular-webfont.woff2");
}

html {
  line-height: 1.5;
  font-size: 20;
  font-family: 'Sitka Text', Cambria, serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 30%;
  background-image: url("images/claudio-schwarz-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  font-family: abhayalibre;
  font-size: 140px;
  height: 1.4em;
  text-align: center;
  margin-top: 30%;
  padding: 0 20px 0 20px;
  color: #F8F3E6;
  text-shadow: #f8f3e6da 0 0 12px;
  background-color: rgba(0, 0, 0, 0.6);
}

.banner svg {
  filter: drop-shadow(0px 0px 6px #f8f3e6da);
}

.attribution,
.attribution a {
  color: #F8F3E6;
  text-align: center;
  text-shadow: black 0 0 3px;
}

.right-container {
  flex: 1 0 60%;
  min-width: 60vw;
  display: flex;
  flex-direction: column;
  background-color: #F7DFD4;
}

.right-container>h2 {
  margin: 50px 0 50px 0;
  max-width: 60ch;
}

.right-container h2,
.right-container .form-row,
.right-container p {
  padding: 0 40px 0 80px;
}

.right-container a {
  text-decoration: none;
  color: #7c4846;
  font-style: italic;
}

.form-input-container {
  background-color: #fff6f3;
  padding: 20px 0 20px 0;
  box-shadow: 0px 3px 10px 5px #32485c31;
}

.form-row {
  display: flex;
  gap: 100px;
}

.form-header {
  margin-bottom: 15px;
}

.form-row .form-input {
  display: flex;
  flex-direction: column;
}

.form-input input {
  appearance: none;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: inherit;
  height: 2em;
  max-width: 30ch;
  border: 1px solid #E2B091;
  border-radius: 5px;
  background-color: #fff6f3;
}

.form-input label {
  font-size: 0.9em;
}

.form-input input:focus {
  outline: none;
  border: 1px solid #874E4C;
  box-shadow: 2px 2px 3px 0px #32485c2c;
}

button {
  margin: 30px 0 15px 0;
  border: none;
  border-radius: 7px;
  background-color: #874E4C;
  color: #F8F3E6;
  font-family: inherit;
  font-size: 1.3rem;
  height: 50px;
  width: 200px;
}

button:hover {
  cursor: pointer;
  background-color: #7c4846;
}

button:active {
  background-color: #6b3e3c;
}

.form-header {
  position: relative;
}

/* .form-header::after {
  position: absolute;
  top: 5px;
  left: 640px;
  font-size: 16px;
  font-style: italic;
  color: #cf3b33;
  content: "All forms required.";
} */

@media only screen and (max-width: 1200px) {
  .form-row {
    flex-direction: column;
    gap: 0;
  }

  .left-container {
    flex: 1 0;
  }

  .right-container {
    flex: 0 1;
  }

  .banner {
    font-size: 11vw;
    margin: 30vh auto;
  }
}